PORT=3000
BOT_PASSWORD=1
ADMIN_EMAIL=arthurnehemiahd@gmail.com
GMAIL_USER=arthurnehemiahd@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
DATABASE_URL=
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_NUMBER=your_twilio_whatsapp_number
